#avatarForm {position: relative; display: inline-block;}
#avatarForm .file-control {position: absolute; left: 0; top: 0; right: 0; cursor: pointer; -moz-opacity:0; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}
