// COLOR SCHEME
// -------------------------------------------------


// Base color

@color-primary:              #9958dc;
@color-pale:                 #f2eafc;
@color-secondary:            #3123ae;
@color-secondary-pale:       #EFF5F7;
@color-fore:                 #333;
@color-back:                 #fff;
@color-focus:                #3d5afe;
@color-accent:               #5878FF;
@color-accent-pale:          #F2F6FF;
@color-highlight:            rgba(255, 200, 0, .3);


// Grays

@color-gray-darker:          #222;
@color-gray-dark:            rgba(0,0,0,.65);
@color-gray:                 #A3A2BC;
@color-gray-light:           #BEC1CC;
@color-gray-lighter:         #E5E5E5;
@color-gray-pale:            #F1F1F1;

// Color list

@color-white:                #fff;
@color-black:                #000;
@color-dark:                 @color-gray-dark;

@color-red:                  #FF0040;
@color-yellow:               #F5A623;
@color-green:                #37C3A4;
@color-blue:                 #66ADFF;
@color-purple:               #E3B3D9;
@color-brown:                #FBA5A2;

@color-green-pale:           #ddf4df;
@color-yellow-pale:          #fff0d5;
@color-red-pale:             #ffe5e0;
@color-blue-pale:            #ddf3f5;
@color-brown-pale:           #f7ebe1;
@color-purple-pale:          #f5eeff;

// Color aliases

@color-light:                @color-back;

@color-success:              @color-green;
@color-warning:              @color-yellow;
@color-danger:               @color-red;
@color-info:                 @color-blue;
@color-important:            @color-brown;
@color-special:              @color-purple;

@color-success-pale:         @color-green-pale;
@color-warning-pale:         @color-yellow-pale;
@color-danger-pale:          @color-red-pale;
@color-info-pale:            @color-blue-pale;
@color-important-pale:       @color-brown-pale;
@color-special-pale:         @color-purple-pale;

@root-font-size:          20px;
@font-size-h1:            2em;
@font-size-h2:            1.5em;
@font-size-h3:            1.3em;
@font-size-h4:            1.2em;
@font-size-h5:            1em;
@font-size-h6:            .8em;

@muted-dark-opacity:     .25;
@muted-light-opacity:    .75;

@divider-color:          rgba(0,0,0,.06);
@border-color:             @divider-color;
@border-radius-base:       4px;
@border-radius-large:      6px;
@border-radius-xlarge:     8px;
@border-radius-small:      2px;

@state-scale-from:       .9;

@page-background-color: #f2edfd;

// Buttons

@btn-font-weight:           normal;
@btn-size:                  26px;
@btn-size-lg:               30px;
@btn-size-sm:               22px;
@btn-size-xs:               18px;


// Forms

@input-border-color:        #DFE1E6;


// Skins

@shadow-1:                  rgba(0, 0, 0, .05) 0 1px 4px, rgba(0, 0, 0, .08) 0 1px 2px;
