.app-chat-sidebar > .tabs {
  top: 20px;
}
.os-mac,
.platform-browser {
  .app-chat-sidebar > .tabs {
    top: 0;
  }
}
.app-chat-sidebar-nav {
  margin: 10px;
}

.app-chat-sidebar-close {
  z-index: 1040;
}

.chat-sidebar-depts {
  width: 100% !important;
  height: 100% !important;
}

.app-chat-sidebar-peoples {
  .actions {
    .btn {
      min-width: 100px;
      margin: 5px;
      display: inline-block;
    }
  }
  .app-member-list-item {
    align-items: center;
    > .icons {
      .icon-sprite {
        position: relative;
        top: -2px;
      }
    }
  }
}

.app-chat-sidebar-profile {
  .title {
    line-height: 14px;
  }
  .profile-content {
    padding-top: 12px;
    text-align: center;
  }
  .subtitle {
    color: @color-purple-gray;
    font-size: 13px;
    line-height: 20px;
  }
  .input {
    color: @color-dark;
    font-size: 13px;
  }
}

.hue-rotate{
  filter: hue-rotate(180deg);
}
