.icon-svg-screen-share {
  width: 24px;
  height: 24px;

  &::after {
    display: inline-block;
    content: ' ';
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (prefers-color-scheme: dark) {
      background-image: url("./imgs/screen-share-white.svg");
    }
    @media (prefers-color-scheme: light) {
      background-image: url("./imgs/screen-share-black.svg");
    }
  }
}

.icon-svg-screen-share-black {
  width: 24px;
  height: 24px;

  &::after {
    display: inline-block;
    content: ' ';
    width: 24px;
    height: 24px;
    background-image: url("./imgs/screen-share-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-svg-screen-share-white {
  width: 24px;
  height: 24px;

  &::after {
    display: inline-block;
    content: ' ';
    width: 24px;
    height: 24px;
    background-image: url("./imgs/screen-share-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-svg-stop-screen-share {
  width: 24px;
  height: 24px;

  &::after {
    display: inline-block;
    content: ' ';
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (prefers-color-scheme: dark) {
      background-image: url("./imgs/stop-screen-share-white.svg");
    }
    @media (prefers-color-scheme: light) {
      background-image: url("./imgs/stop-screen-share-black.svg");
    }
  }
}
.icon-svg-stop-screen-share-black {
  width: 24px;
  height: 24px;

  &::after {
    display: inline-block;
    content: ' ';
    width: 24px;
    height: 24px;
    background-image: url("./imgs/stop-screen-share-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-svg-stop-screen-share-white {
  width: 24px;
  height: 24px;

  &::after {
    display: inline-block;
    content: ' ';
    width: 24px;
    height: 24px;
    background-image: url("./imgs/stop-screen-share-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
