.table-component{
  .top-1{
    position: relative;
    top: -1px;
  }
  .top-2{
    position: relative;
    top: -2px;
  }
  .load-holder-height{
    height: 26px;
  }
  .align-left{
    text-align: left;
  }
  .align-center{
    text-align: center;
  }
  .align-right{
    text-align: right;
  }

}
